@use "../../global_variables" as _;

.main {
    display: flex;
    & > .left {
        display: flex;
        flex-direction: column;
        padding: 0 12px 0 20px;
        @media (max-width: _.$medium) {
            padding: 0 10px 0 0;
        }
        & > .head {
            position: relative;
            width: 35px;
            aspect-ratio: 1;
            border-radius: 100px;
            background-color: _.$transparent-black;
            @media (max-width: _.$medium) {
                width: 25px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15px;
                aspect-ratio: 1;
                border-radius: 100px;
                background-color: _.$black;
                @media (max-width: _.$medium) {
                    width: 10px;
                }
            }
        }
        & > .line {
            flex-grow: 1;
            margin: 0 auto;
            border-left: 1px solid _.$light-gray;
        }
    }
    & > .body {
        padding-bottom: 20px;
        & > .work_duration {
            display: flex;
            align-items: center;
            height: 35px;
            color: _.$gray;
            @media (max-width: _.$medium) {
                height: 25px;
                margin-bottom: 3px;
            }
        }
        & > .job_title {
            display: flex;
            align-items: center;
            font-size: 1.4 * _.$base-font-size;
            height: 35px;
            font-weight: bold;
            color: _.$black;
        }
        & > .company_name {
            display: flex;
            align-items: center;
            gap: 4px;
            width: fit-content;
            height: 30px;
            color: _.$gray;
            font-size: 0.9 * _.$base-font-size;
            & > img.company_logo {
                height: 20px;
                object-fit: contain;
                border-radius: 5px;
                margin: 3px;
            }
        }
        & > .description {
            text-align: justify;
            text-justify: inter-ideograph;
            line-height: 1.5 * _.$base-font-size;
            padding: 10px 0 15px;
            @media (max-width: _.$small) {
                font-size: 0.9 * _.$base-font-size;
            }
        }
        & > .tech_stack {
            & > .title {
                margin-left: 5px;
                font-size: 0.9 * _.$base-font-size;
                color: _.$gray;
            }
            & > .list {
                display: block;
                padding: 3px 0;
                & > .skill_tag {
                    display: inline-block;
                    font-size: 0.8 * _.$base-font-size;
                    color: _.$white;
                    padding: 5px 8px;
                    margin: 4px;
                    border-radius: 5px;
                    background-color: _.$yellow;
                    opacity: 0.8;
                }
            }
        }
    }
}
