@use "../../global_variables" as _;

.main {
    display: flex;
    align-items: flex-end;
    & > .product_name {
        color: _.$black;
        white-space: nowrap;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    &.invert {
        & > .logo {
            filter: invert(1);
        }
        & > .product_name {
            color: _.$white;
        }
    }
    &.s {
        gap: 8px;
        & > .logo {
            width: 35px;
        }
        & > .product_name {
            font-size: _.$base-font-size;
        }
    }
    &.m {
        gap: 8px;
        & > .logo {
            width: 50px;
        }
        & > .product_name {
            font-size: 1.25 * _.$base-font-size;
        }
    }
    &.l {
        gap: 10px;
        & > .logo {
            width: 100px;
        }
        & > .product_name {
            font-size: 2.5 * _.$base-font-size;
        }
    }
}
