@use "../../global_variables" as _;

@mixin create-keyframe($name, $end) {
  @keyframes #{$name} {
    from {
      opacity: 0;
    }
    to {
      opacity: $end;
    }
  }
}
@include create-keyframe(fadein100, 1);

.main {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: _.$header-height;
  width: 100%;
  padding: 0 20px;
  background-color: _.$white;
  border-bottom: 1px solid _.$noisy-white;
  animation: 300ms fadein100 ease;
  z-index: 3;
  @media (max-width: _.$small) {
    padding: 0 15px;
  }
  &.transparent {
    display: none;
  }
  & > .nav_bar_tab_container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;
    min-width: 0;
    @media (max-width: _.$small) {
      gap: 4px;
    }
  }
}
