@use "../../../global_variables" as _;

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin-top: _.$header-height;
}

@media screen and (max-width: _.$hide-function-bar-boundry) {
    .main {
    }
}
