@use "../../global_variables" as _;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 30px;
    width: 100%;
    min-height: 38.2vh;
    background-color: _.$black;
    color: _.$light-gray;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 0.8 * _.$base-font-size;
    & > .logo_container {
        padding: 15px;
        border-radius: 10px;
        background-color: _.$white;
    }
    & > .social_media_list {
        display: block;
        & > .social_media {
            display: inline-flex;
            align-items: center;
            padding: 8px 0;
            transition-duration: 150ms;
            @media (hover: hover) {
                &:hover {
                    color: _.$white;
                }
            }
            span {
                margin-left: 12px;
                @media (max-width: _.$small-screen-boundary) {
                    margin-left: 10px;
                }
            }
        }
        & > hr {
            display: inline;
            border-radius: 5px;
            border: none;
            border-left: 2px solid _.$deep-gray;
            padding-top: 6px;
            margin: 0 18px;
            @media (max-width: _.$small-screen-boundary) {
                margin: 0 10px;
            }
        }
    }
    & > .copyright {
        text-align: center;
        line-height: 1.2 * _.$base-font-size;
        @media (max-width: _.$small-screen-boundary) {
            font-size: 0.7 * _.$base-font-size;
        }
    }
}
