@use "../../global_variables" as _;

.main {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 0 5%;
  & > .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    @media (min-width: _.$extra-large) {
      border-radius: 25px;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(20, 20, 20, 1) 0%,
        rgba(20, 20, 20, 1) 23.6%,
        rgba(20, 20, 20, 0.3) 61.8%,
        rgba(20, 20, 20, 0.3) 85.4%,
        rgba(20, 20, 20, 1) 100%
      );
    }
  }
  & > .body {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto 0;
    gap: 16px;
    z-index: 2;
    @media (max-width: _.$medium) {
      width: 60%;
      gap: 12px;
    }
    @media (max-width: _.$small) {
      width: 80%;
    }
    & > .title {
      font-size: clamp(1.8 * _.$base-font-size, 3.5vw, 3 * _.$base-font-size);
      color: _.$noisy-white;
      font-weight: bold;
      letter-spacing: 2.5 * _.$base-letter-spacing;
    }
    & > .upper {
      display: flex;
      flex-direction: column;
      & > .tags {
        display: flex;
        color: _.$gray;
        font-size: clamp(0.75 * _.$base-font-size, 1.2vw, _.$base-font-size);
      }
      & > .time_range {
        color: _.$gray;
        font-size: clamp(0.75 * _.$base-font-size, 1.2vw, _.$base-font-size);
        letter-spacing: 0;
      }
    }
    & > .middle {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      margin: 12px 0;
      & > .icon_container {
        width: 8vw;
        min-width: 56px;
        max-width: 80px;
        aspect-ratio: 1;
        overflow: hidden;
        & > img {
          width: 100%;
          object-fit: cover;
        }
      }
      & > .description {
        font-size: clamp(0.75 * _.$base-font-size, 1.5vw, _.$base-font-size);
        color: _.$light-gray;
      }
    }
    & > .lower {
      display: flex;
      gap: 4px;
      margin-top: 8px;
      @media (max-width: _.$small) {
        flex-direction: column;
        gap: 8px;
      }
      .demo_button_link {
        padding: 2px 56px;
      }
      .source_code_button_link {
        color: _.$green;
      }
    }
  }
}
