@use "../../../global_variables" as _;

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    .section {
        min-height: 100vh;
        &:nth-child(odd) {
            background-color: _.$noisy-white;
        }
        h2 {
            margin: calc(_.$header-height + 30px) 0 20px;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
                serif;
            text-align: center;
            font-size: 2.8 * _.$base-font-size;
            @media screen and (max-width: _.$small-screen-boundary) {
                font-size: 2 * _.$base-font-size;
            }
        }
        & > .subtitle {
            margin: 30px auto;
            padding: 0 50px;
            text-align: center;
            max-width: _.$small-screen-boundary;
            line-height: 2.2 * _.$base-font-size;
            font-size: 1.1 * _.$base-font-size;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
                serif;
            @media screen and (max-width: _.$small-screen-boundary) {
                padding: 0 30px;
                font-size: _.$base-font-size;
            }
        }
        hr {
            margin: 30px auto;
            width: 150px;
            border: none;
            border-top: 2px solid _.$light-gray;
            border-radius: 5px;
        }
        h3 {
            margin: calc(_.$header-height + 30px) 0 20px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            text-align: center;
            font-size: 1.6 * _.$base-font-size;
            font-weight: normal;
            color: _.$black;
            @media screen and (max-width: _.$small-screen-boundary) {
                font-size: 1.4 * _.$base-font-size;
            }
        }
    }
    & > .home {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 18vh 30px 10px;
        & > .avatar_container {
            position: relative;
            width: min(150px, max(15vw, 100px));
            aspect-ratio: 1;
            & > .avatar {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                overflow: hidden;
                backface-visibility: hidden;
                transition-duration: 0.3s;
                &.back {
                    transform: rotateY(180deg);
                }
            }
            @media (hover: hover) {
                &:hover {
                    & > .avatar {
                        &.front {
                            transform: rotateY(180deg);
                        }
                        &.back {
                            transform: rotateY(0deg);
                        }
                    }
                }
            }
        }
        & > .name {
            font-size: 1.4 * _.$base-font-size;
            font-weight: bold;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
        & > .greeting {
            margin: 10px 0;
            padding: 15px 25px;
            width: min(100%, 500px);
            font-size: 1.4 * _.$base-font-size;
            line-height: 1.8 * _.$base-font-size;
            border-radius: 30px;
            background-color: _.$light-gray;
            @media screen and (max-width: _.$small-screen-boundary) {
                padding: 15px 20px;
                font-size: 1.25 * _.$base-font-size;
                line-height: 1.5 * _.$base-font-size;
            }
        }
        & > .cta_list {
            position: absolute;
            bottom: 12vh;
            left: 50%;
            display: flex;
            gap: 50px;
            transform: translateX(-50%);
            @media screen and (max-width: _.$small-screen-boundary) {
                bottom: 18vh;
            }
            & > .cta {
                display: flex;
                flex-direction: column;
                align-items: center;
                & > .icon_container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    @media (hover: hover) {
                        &:hover {
                            background-color: _.$transparent-black;
                            transition-duration: 300ms;
                        }
                    }
                }
            }
        }
        & > .scroll_down_hint {
            position: absolute;
            bottom: 10px;
            left: 50%;
            display: flex;
            gap: 10px;
            color: _.$gray;
            transform: translateX(-50%);
            animation: 1s float infinite;
        }
        @keyframes float {
            from {
                bottom: 10px;
            }
            50% {
                bottom: 20px;
            }
            to {
                bottom: 10px;
            }
        }
    }
    & > .about {
        padding-bottom: 30px;
        & > .work_experience_outer {
            display: flex;
            padding: 30px;
            @media (max-width: _.$small-screen-boundary) {
                flex-direction: column;
            }
            & > .block {
                width: 50%;
                @media (max-width: _.$small-screen-boundary) {
                    width: 100%;
                }
                & > .work_experience {
                    display: flex;
                    & > .left {
                        display: flex;
                        flex-direction: column;
                        padding: 0 12px 0 20px;
                        @media (max-width: _.$small-screen-boundary) {
                            padding: 0 10px 0 0;
                        }
                        & > .head {
                            position: relative;
                            width: 35px;
                            aspect-ratio: 1;
                            border-radius: 100px;
                            background-color: _.$transparent-black;
                            @media (max-width: _.$small-screen-boundary) {
                                width: 25px;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 15px;
                                aspect-ratio: 1;
                                border-radius: 100px;
                                background-color: _.$black;
                                @media (max-width: _.$small-screen-boundary) {
                                    width: 10px;
                                }
                            }
                        }
                        & > .line {
                            flex-grow: 1;
                            margin: 0 auto;
                            border-left: 1px solid _.$light-gray;
                        }
                    }
                    & > .main {
                        padding-bottom: 20px;
                        & > .time {
                            display: flex;
                            align-items: center;
                            height: 35px;
                            color: _.$gray;
                            @media (max-width: _.$small-screen-boundary) {
                                height: 25px;
                            }
                        }
                        & > .job_title {
                            font-size: 1.4 * _.$base-font-size;
                            height: 35px;
                            font-weight: bold;
                            color: _.$black;
                        }
                        & > .company_name {
                            display: flex;
                            align-items: center;
                            gap: 2px;
                            width: fit-content;
                            color: _.$gray;
                            & > img.company_logo {
                                height: 20px;
                                object-fit: contain;
                                border-radius: 5px;
                                margin: 3px;
                            }
                        }
                        & > .description {
                            text-align: justify;
                            text-justify: inter-ideograph;
                            line-height: 1.5 * _.$base-font-size;
                            padding: 15px 0;
                        }
                        & > .tech_stack {
                            & > .title {
                                margin-left: 5px;
                                font-size: 0.9 * _.$base-font-size;
                                color: _.$gray;
                            }
                            & > .list {
                                display: block;
                                padding: 3px 0;
                                & > .technology {
                                    display: inline-block;
                                    font-size: 0.8 * _.$base-font-size;
                                    color: _.$gray;
                                    padding: 3px 8px;
                                    margin: 5px;
                                    border-radius: 3px;
                                    background-color: _.$light-gray;
                                }
                            }
                        }
                    }
                }
            }
        }
        & > .education_outer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            padding: 30px;
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 1.25 * _.$base-font-size;
            color: _.$gray;
            @media (max-width: _.$small-screen-boundary) {
                gap: 25px;
                font-size: _.$base-font-size;
            }
            & > .school_logo {
                width: 220px;
                @media (max-width: _.$small-screen-boundary) {
                    width: 200px;
                }
            }
            & > div {
                width: min(380px, 100%);
                @media (max-width: _.$small-screen-boundary) {
                    width: min(320px, 100%);
                }
                &:last-child {
                    width: min(380px, 100%);
                    text-align: end;
                    @media (max-width: _.$small-screen-boundary) {
                        width: min(320px, 100%);
                    }
                }
            }
        }
    }
    & > .projects {
        & > .project_list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1rem;
            padding: 30px 90px;
            @media (max-width: _.$small-screen-boundary) {
                padding: 30px;
            }
            & > .project {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                aspect-ratio: 1;
                border-radius: 10px;
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                cursor: pointer;
                @media (hover: hover) {
                    &:hover {
                        & > .background {
                            transform: scale(1.2);
                        }
                    }
                }
                & > .title {
                    color: _.$white;
                    font-size: 1.2 * _.$base-font-size;
                    padding: 10px 20px;
                    z-index: 1;
                }
                & > .subtitle {
                    color: _.$light-gray;
                    font-size: 0.85 * _.$base-font-size;
                    padding: 0 20px;
                    margin-bottom: 10%;
                    z-index: 1;
                }
                & > .background {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transition-duration: 500ms;
                    &.mask {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: _.$black;
                            opacity: 0.5;
                        }
                    }
                }
                &.trade_smartly {
                    & > .background {
                        background-image: url("../../../assets/trade_smartly.png");
                    }
                }
                &.path_finding {
                    & > .background {
                        background-image: url("../../../assets/path_finding.jpg");
                    }
                }
                &.virus_spread {
                    & > .background {
                        background-image: url("../../../assets/virus_spread.jpg");
                        background-position: -70px 0;
                    }
                }
                &.wiki_prettier {
                    & > .background {
                        background-image: url("../../../assets/wiki_prettier.png");
                    }
                }
                &.market_simulate {
                    & > .background {
                        background-image: url("../../../assets/market.jpg");
                    }
                }
                &.inventory_analyzer {
                    & > .background {
                        background-image: url("../../../assets/warehouse.jpg");
                        background-position: -120px 0;
                    }
                }
                &.snake {
                    & > .background {
                        background-image: url("../../../assets/snake.png");
                    }
                }
                &.tic_tac_toe {
                    & > .background {
                        background-image: url("../../../assets/tictactoe.png");
                    }
                }
                &.pick_coins {
                    & > .background {
                        background-image: url("../../../assets/coins.jpg");
                    }
                }
            }
        }
        & > .show_all_project_button_container {
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
        }
    }
    & > .blog {
        min-height: fit-content;
        background-image: url("../../../assets/gitbook.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 105% 100px;
        @media (max-width: _.$small-screen-boundary) {
            background-size: cover;
        }
        & > .blog_button_container {
            display: flex;
            justify-content: center;
            padding: 50px 0 110px;
        }
    }
}
