@use "../../../global_variables" as _;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  & > .section {
    min-height: 100vh;
    &:nth-child(odd) {
      background-color: _.$noisy-white;
    }
    h2 {
      margin: calc(_.$header-height + 30px) 0 20px;
      font-family: Georgia, Times, "Times New Roman", serif;
      text-align: center;
      font-size: 2.8 * _.$base-font-size;
      @media screen and (max-width: _.$small) {
        font-size: 2 * _.$base-font-size;
      }
    }
    & > .subtitle {
      margin: 30px auto;
      padding: 0 50px;
      text-align: center;
      max-width: _.$medium;
      line-height: 2.2 * _.$base-font-size;
      font-size: 1.1 * _.$base-font-size;
      letter-spacing: 0.8px;
      font-family: Georgia, Times, "Times New Roman", serif;
      @media screen and (max-width: _.$small) {
        padding: 0 30px;
        font-size: _.$base-font-size;
      }
    }
    hr {
      margin: 30px auto;
      width: 150px;
      border: none;
      border-top: 2px solid _.$light-gray;
      border-radius: 5px;
    }
    h3 {
      margin: calc(_.$header-height + 30px) 0 20px;
      text-align: center;
      font-size: 1.6 * _.$base-font-size;
      font-weight: normal;
      color: _.$black;
      @media screen and (max-width: _.$small) {
        font-size: 1.4 * _.$base-font-size;
      }
    }
  }
  & > .home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 16vh 30px 10px;
    & > .avatar_container {
      position: relative;
      width: min(150px, max(15vw, 100px));
      aspect-ratio: 1;
      & > .avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        backface-visibility: hidden;
        transition-duration: 300ms;
        &.front {
          animation: autoFlipFront 720ms ease-in-out 150ms;
        }
        &.back {
          transform: rotateY(180deg);
          animation: autoFlipBack 720ms ease-in-out 150ms;
        }
      }
      @media (hover: hover) {
        &:hover {
          & > .avatar {
            &.front {
              transform: rotateY(180deg);
            }
            &.back {
              transform: rotateY(0deg);
            }
          }
        }
      }
    }
    & > .name {
      font-size: 1.4 * _.$base-font-size;
      font-weight: bold;
      font-family: sans-serif;
      margin: 0 0 10px 0;
      letter-spacing: 0;
    }
    & > .greeting {
      margin: 10px 0;
      padding: 15px 25px;
      width: min(100%, 500px);
      min-height: 55px;
      font-family: sans-serif;
      font-size: 1.2 * _.$base-font-size;
      line-height: 2 * _.$base-font-size;
      white-space: pre-wrap;
      border-radius: 30px;
      background-color: _.$light-gray;
      @media screen and (max-width: _.$small) {
        padding: 15px 20px;
        font-size: 1.1 * _.$base-font-size;
        line-height: 1.5 * _.$base-font-size;
      }
      & > .cursor {
        display: inline-block;
        margin-left: 2px;
        animation: blink 1s infinite;
      }
    }
    & > .cta_list {
      position: absolute;
      bottom: 12vh;
      left: 50%;
      display: flex;
      gap: 50px;
      transform: translateX(-50%);
      @media screen and (max-width: _.$small) {
        bottom: 15vh;
      }
      & > .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > .icon_container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          aspect-ratio: 1;
          border-radius: 50%;
          @media (hover: hover) {
            &:hover {
              background-color: _.$transparent-black;
              transition-duration: 300ms;
            }
          }
        }
        & > .cta_text {
          font-size: 0.9 * _.$base-font-size;
        }
      }
    }
    & > .scroll_down_hint {
      position: absolute;
      bottom: 10px;
      left: 50%;
      display: flex;
      gap: 10px;
      color: _.$gray;
      transform: translateX(-50%);
      animation: 1s float infinite;
    }
    @keyframes float {
      from {
        bottom: 10px;
      }
      50% {
        bottom: 20px;
      }
      to {
        bottom: 10px;
      }
    }
  }
  & > .about {
    padding-bottom: 50px;
    & > .work_experience_outer {
      display: flex;
      width: min(100%, _.$large);
      padding: 30px;
      margin: 0 auto;
      @media (max-width: _.$medium) {
        flex-direction: column;
      }
      @media (max-width: _.$small) {
        padding-left: 20px;
      }
      & > .block {
        width: 50%;
        @media (max-width: _.$medium) {
          width: 100%;
        }
      }
    }
    & > .skills_outer {
      width: min(100%, _.$extra-large);
      margin: 0 auto;
      padding: 30px 0;
      overflow: hidden;
      & > .skills_inner {
        display: flex;
        width: max-content;
        animation: 25s moveleft linear infinite;
        & > .screen {
          $gap: 25px;
          display: flex;
          gap: $gap;
          padding-right: $gap;
        }
        @keyframes moveleft {
          from {
            transform: translateX(0);
          }
          to {
            transform: translateX(-50%);
          }
        }
      }
    }
    & > .education_outer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      padding: 30px 30px 100px;
      @media (max-width: _.$small) {
        flex-direction: column;
        gap: 40px;
      }
      & > .school_logo {
        width: 260px;
        @media (max-width: _.$small) {
          width: 220px;
        }
      }
      & > .degree_list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: _.$small) {
          font-size: _.$base-font-size;
        }
        & > .degree {
          font-family: Georgia, "Times New Roman", Times, serif;
          font-style: italic;
          line-height: 1.5 * _.$base-font-size;
          color: _.$gray;
          text-decoration: underline;
          transition-duration: 150ms;
          @media (hover: hover) {
            &:hover {
              color: _.$deep-gray;
            }
          }
        }
      }
    }
  }
  & > .projects {
    padding-bottom: 30px;
    & > .project_detail_container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: min(100%, _.$extra-large);
      margin: 0 auto 30px;
      padding-top: _.$header-height;
      height: 0;
      overflow: hidden;
      transition: height 300ms ease-in-out;
      &.active {
        height: calc(70vh + _.$header-height);
      }
      & > .button_container {
        position: absolute;
        top: calc(_.$header-height + 8px);
        right: 8px;
        width: fit-content;
        height: fit-content;
        z-index: 2;
      }
    }
    & > .project_list_container {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: _.$extra-large;
      margin: 0 auto;
      padding: 0 30px;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      @media (max-width: _.$small) {
        flex-direction: column;
      }
    }
    & > .footer {
      display: flex;
      justify-content: center;
      margin: 30px 0;
    }
  }
  & > .blog {
    min-height: fit-content;
    background-image: url("../../../assets/gitbook.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 105% 100px;
    @media (max-width: _.$small) {
      background-size: cover;
    }
    & > .footer {
      display: flex;
      justify-content: center;
      padding: 50px 0 110px;
    }
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes autoFlipFront {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  60% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes autoFlipBack {
  0% {
    transform: rotateY(180deg);
  }
  40% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
