@use "../../../global_variables" as _;

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: _.$white;
    background-image: url("../../../assets/cover.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 200vh;
}
