@use "global_variables" as _;

body {
    margin: 0;
    font-family: Geneva, sans-serif;
    color: _.$deep-gray;
    font-size: _.$base-font-size;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

*,
*:before,
*:after {
    scroll-behavior: smooth;
    box-sizing: border-box;
    user-select: none;
    letter-spacing: _.$base-letter-spacing;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

img {
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
    color: inherit;
}
