@use "../../global_variables" as _;

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  font-family: Verdana;
  font-size: 0.9 * _.$base-font-size;
  transition-duration: 150ms;
  white-space: nowrap;
  @media (min-width: _.$small) {
    width: 103px;
  }
  @media (max-width: _.$small) {
    flex: 1 1 0;
    min-width: 0;
    padding: 0 4px;
    font-size: 0.75 * _.$base-font-size;
  }
  @media (hover: hover) {
    &:hover {
      color: _.$black;
    }
  }
  & > .icon_outer {
    display: none;
  }
}
